/* GLOBALI */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
    color: white;
    font-weight: bold;
}

h4 {
    font-size: 12px;
}
 
h3 {
    font-size: 17px;
    font-weight: bolder;
}

/* LAYOUT */

.container {
    margin: 0 auto;
    padding: 10px;
    max-width: 1200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-100{
    width: 100%;
}

.col-33 {
    width: calc(100% / 3 - 20px);
    margin: 0px 10px 0px 10px;
}

.content {
    width: 100%;
}

.margin-top-80 {
    margin-top: 80px;
}

.p-5 {
    padding: 5px;
}

/* STILE */

.header-footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
